*.pyc
__pycache__/
/*/__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.idea/
.vscode/

local_settings.py
*.py[cod]
*.swp
*.log
.DS_Store
.env
.venv
env/
*.eggs
.cache/